gymnasium>=1.0.0
gym>=0.26.2
loguru>=0.7.2
numba>=0.60.0
numpy>=1.26.4
optuna>=4.1.0
psutil>=6.1.0
pygame>=2.6.1
pytest>=8.3.3
scalene>=1.5.48
torch>=2.5.1
tqdm>=4.67.0
wandb>=0.18.7
svgelements>=1.9.6
stable-baselines3[extra]>=2.4.0
shimmy>=2.0.0
moviepy>=2.0.0