name: CI

on:
  push:
    branches: [ main ]
  pull_request:
    branches: [ main ]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
        with:
          submodules: true

      - uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          cache: 'pip'

      - name: Install ffmpeg
        run: sudo apt-get install ffmpeg

      - name: Install dependencies
        run: |
          python -m pip install pip --upgrade
          pip install uv
          uv venv --python 3.12
          source .venv/bin/activate
          uv pip install -r ./fast-pysf/requirements.txt
          uv pip install -r ./requirements.txt
          cd fast-pysf && uv pip install . && cd ..
          uv pip install .

      - name: Run tests
        run: |
          source .venv/bin/activate
          python -m pytest tests

  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install Ruff
        uses: astral-sh/ruff-action@v3

      - name: Ruff Format Check
        run: ruff format --check .

      - name: Ruff Lint Check
        run: ruff check .
